version: "3.8"

services:
  mysql:
    image: mysql:8
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_DATABASE: mydb
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - mynet

  app:
    image: php:8.2-apache
    container_name: web_app
    restart: always
    volumes:
      - ./app:/var/www/html
    depends_on:
      - mysql
    networks:
      - mynet

  nginx:
    image: nginx:latest
    container_name: nginx_proxy
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - mynet

volumes:
  mysql_data:

networks:
  mynet:
